# for vscode configurations
/.vscode

# for compiled output in the test folder
/test/*/build
/test/*/output
test/*/*.exe

# for test python code 
test/*.py

# for python unit-test
/__pycache__

# EOF
